@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: "Saira Condensed", sans-serif;
  }

  h2 {
    font-family: "Saira Condensed", sans-serif;
  }

  h3 {
    font-family: "Saira Condensed", sans-serif;
  }

  p {
    font-family: "Raleway", sans-serif;
  }
}
